<mat-tab-group>
    <mat-tab> 
        <ng-template mat-tab-label>
            <mat-icon>chat</mat-icon>
        </ng-template>

        <div *ngIf="chats.length==0" align="center" 
            style="font-size: 16px; color: #4a5cc0;">
            <br>
            <b>No available chats</b>
        </div>
        <div *ngFor="let chat of chats, let  i = index">
            <button *ngIf="i==chatNumber" class="outer-button" style="background: #d6daf1"(click)="pickChat(i)">
                <app-chat-card [chat]="chat"></app-chat-card>
            </button>
            <button *ngIf="i!=chatNumber" class="outer-button" (click)="pickChat(i)">
                <app-chat-card [chat]="chat"></app-chat-card>
            </button>
            <div class="break-line"></div>
        </div>
    </mat-tab>

    <mat-tab> 
        <ng-template mat-tab-label>
            <mat-icon>group_add</mat-icon>
        </ng-template>

        <div align='center' style="font-size: 16px; color: #4a5cc0; margin-top: 10px" *ngIf="user2.requests!=undefined">
            <b>Friend Requests:</b><br>
            <div *ngFor="let request of user2.requests">
                <app-add-friend-card [request]="request" [user]="user"></app-add-friend-card>
            </div>
            <br><br>
            <div class="break-line" style="margin-top: -13px"></div>
        </div>
        <div align='center' style="font-size: 16px; color: #4a5cc0; margin-top: 10px">
            <b>Friends</b>
        </div>
        <mat-form-field class="input-field-left">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="name">
        </mat-form-field>

        
        <mat-form-field class="input-field-right">
            <mat-label>Id</mat-label>
            <input matInput [formControl]="id">
        </mat-form-field>

        <mat-error *ngIf="!valid" align='center' style="margin-top: -17px; margin-bottom: 5px">
            Invalid details
        </mat-error>       

        <button 
            style="margin-left: 12.5%; width: 75%"
            mat-raised-button 
            color="primary"
            (click)="addFriend()"
            >Add Friend
        </button><br><br>
    </mat-tab>

</mat-tab-group>