<mat-toolbar class="header">
    <button type="button" style="margin-right: 10px" mat-icon-button>
        <div 
            mat-card-avatar 
            style="background-image: url('{{logo}}');"
            referrerpolicy="no-referrer"
            class="icon"
            ></div>
    </button>

    <span>{{name}}</span>

    <div style="margin-left: auto">
        <button mat-icon-button>
            <mat-icon>call</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button class="menuButtons" routerLink=""><b>Log Out</b></button>
        </mat-menu>

    </div>
</mat-toolbar>